.LoginFrame {
  width: 500px;
  height: 400px;
  margin-left: 460px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);
  background-color: rgb(235, 230, 223);
}

.LoginFrame h2 {
  text-align: center;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: #000;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  width: 99%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.LoginButton {
    background-color: #f68b08; /* Fixed button color */
    color: #fff;
    padding: 8px; /* Smaller button size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.toSignUp{
  text-decoration: none;
  padding: 10px 20px;
  align-content: center;
  font-size: 16px;
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  left: 50%;
  margin-right: 10px;
  text-align: center;
}
