.data-box {
  position: relative;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(9, 1, 1);
  font-weight: bold;
  width: 500px;
  height: 250px;
  margin-bottom: 25px;
  margin-left: 40px;
  background-color: #ffcccc;
}
.logo {
  position: absolute;
  width: 10 px;
  height: 10 px;
  top: 5px;
  right: 15px;
  max-width: 75px;
  max-height: 75px;
  background-color: rgb(235, 230, 223);
}
.inner-box {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: rgb(235, 230, 223);
  width: 350px;
  height: 200px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(222, 219, 219, 0.1); /* Inner box shadow */
}
.inner-box h2 {
  margin-top: 6px;
  margin-bottom: 40px;
}
/* Color variations for different DataBoxes */
.heart-box {
  position: relative;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(9, 1, 1);
  font-weight: bold;
  width: 500px;
  height: 250px;
  margin-bottom: 25px;
  margin-left: 40px;
  background-color: #c9d8c5;
}
.location-box {
  position: relative;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(9, 1, 1);
  font-weight: bold;
  width: 500px;
  height: 250px;
  margin-bottom: 25px;
  margin-left: 40px;
  background-color: #70c1b3;
}
.calendar-box {
  position: relative;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(9, 1, 1);
  font-weight: bold;
  width: 500px;
  height: 250px;
  margin-bottom: 25px;
  margin-left: 40px;
  background-color: #7f9eb2;
}
.other-box {
  position: relative;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(9, 1, 1);
  font-weight: bold;
  width: 500px;
  height: 250px;
  margin-bottom: 25px;
  margin-left: 40px;
  background-color: #f88e55;
}
.temperature-box {
  position: relative;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(9, 1, 1);
  font-weight: bold;
  width: 500px;
  height: 250px;
  margin-bottom: 25px;
  margin-left: 40px;
  background-color: #f88e55;
}
