.header {
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  width: 800px;
  height: 300px;
  background: transparent;
  color: #fff;
  border-radius: 12px;
  backdrop-filter: blur(9px);
  padding: 20px 20px;
}
.heading {
  text-align: center;
}
.heading .moyen {
  font-size: 44px;
  color: #000;
}

.heading .no-fill {
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 2px #0b0a0a;
  font-size: 38px;
}
