.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #fff;
    z-index: 9;
  }
  .nav-logo {
    margin-top: 50px;
    width: 130px;
    height: 130px;
    border-radius: 7px;
    box-shadow: 3px 20px 20px rgba(24, 22, 22, 0.6);
  }
  
  .nav-links-container {
    display: flex;
    list-style: none;
  }
  
  .nav-link {
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
  }
  .nav-btn {
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fcab38;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    left: 50%;
    margin-right: 10px;
    margin-left: 20px;
  }
  