
.home2 {
  width: 98.9vw;
  position: relative;
  font-family: "poppins", sans-serif;
  background-color: rgb(246, 243, 240);
}



.div {
  background-image: url("../images/first.jfif");
  background-size: cover, contain;
  background-position: center;
  margin-bottom: -100px;
  min-height: max-content;
}

.content1 {
  text-align: center;
  width: 100%;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  background-color: #f68b08;
}

.all {
  background-color: #f3cbac;
  padding: 30px;
  text-align: center;
}

.all h1 {
  padding: 20px;
  color: #f68b08;
  font-family: "Lato-ExtraBold", Helvetica;
  font-size: 40px;
  font-weight: 800;
}

.features1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.features1 div {
  width: 300px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.features1 div:hover {
  transform: scale(1.05);
}

.features1 .icon {
  width: 50px;
  height: 50px;
  color: #f68b08;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.features1 .text {
  line-height: 30px;
  color: #000;
  font-family: "Lato-ExtraBold", Helvetica;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold; 
  font-style: italic; /* Ajout de cette ligne */
}


.features1 p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  color: #555;
}