* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("C:/Users/Rajae Sekkat/Desktop/projet_PPP/Frontend/src/images/headerBg.jpeg");
  width: 100%;
  position: relative;
  font-family: "poppins", sans-serif;
  background-color: rgb(246, 243, 240);
}

::selection {
  background: #1b1b1b;
  color: #fff;
}

.content1 {
  text-align: center;
  width: 100%;
  height: 180px;
  padding: 30px;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  left: 50%;
  margin-top: 60px;
  margin-bottom: 30px;
  position: absolute;
  color: #fff;
  font-size: 16px;
  background-color: #f68b08;
}

.features1 {
  height: 446px;
  position: relative;
  width: 1343px;
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px ;
  background-color: #f3cbac;
}
.features1 div {
  width: 300px;
  margin-bottom: 20px;
}

.features1 .icon {
  width: 50px;
  height: 50px;
  color: #000;
  background-color: f3cbac;
  border-radius: 50%;
}

.features1 .text {
  line-height: 20px;
  color: #000;
  font-family: "Lato-ExtraBold", Helvetica;
  font-size: 32px;
}

.features1 p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
}
