.App {
  display: flex;
  justify-content: space-between; /* Add this to space the two divs */
  background-color: #fff;
  
}

.div1 {
  width: 757px;
  height: 652px;
  padding: 120px;
}

.div2 {
  width: 600px;
  height: 652px;
  padding: 110px;
  text-align: center;
  flex: 1; /* Allow div2 to take remaining space */
}


form {
  max-width: 400px; /* Adjust the max width of the form */
  margin: 0 auto; /* Center the form */
}

/* Style the header */
header {
  margin-bottom: 20px;
}

/* Style the paragraph in div1 */
.div1 p {
  font-style: italic;
  color: #333;
}

/* Style the sign-up header in div2 */
.div2 h3 {
  color: #333;
}

/* Style the form inputs */
form input,
form select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  color: #000;
  border-color: #000;
  box-sizing: 0.5;
  border-radius: 10px;
}

/* Style the submit button */
form button {
  background-color: #fcab38; /* Add your preferred button color */
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

/* Add any additional styling you need */
