/* HeartRateHistoryPage.css */

.container {
    text-align: center;
    padding: 20px;
    font-family: 'Arial, sans-serif';
  }
  
  .heading {
    font-size: 50px;
    margin-bottom: 100px;
    font-weight: bold;
    color: white;
  }
  
  .button {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    background: #fcab38;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .heartRateBox {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .heartRate {
    font-size: 18px;
    color: #333;
  }
  
  .description {
    font-size: 16px;
    color: #777;
  }
  
  .message {
    font-size: 16px;
    color: #777;
  }
  