* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.general {
  background-image: url("../images/second.jfif");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover,contain;
}
.tit{
  color: #fcab38;
  margin-bottom: 40px;
}
.Login-Frame {
  margin-top: 40px;
  width: 420px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(9px);
  border-radius: 12px;
  padding: 30px 40px;
  
}

.Login-Frame h1 {
  font-size: 36px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: #000;
}
label input::placeholder {
  color: #000;
}
input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  padding: 20px 45px 20px 20px;
}

.LoginButton {
  width: 100%;
  height: 45px;
  background: #fcab38;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #000;
  font-weight: 600;
  }

.toSignUp{
  text-decoration: none;
  padding: 10px 20px;
  align-content: center;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  left: 50%;
  margin-right: 10px;
  text-align: center;
  color: #000;
}
.toSignUp a {
  color: #fcab38;
  text-decoration: none;
  font-weight: 600;
}
.link a:hover {
  text-decoration: underline;
}
